{% extends "base.html" %}
{% block body %}
{% if request.user.is_authenticated %}
<a href="{% url 'create_course'%}" class="btn btn-primary">Create Course</a>
<table class="table caption-top">
  <caption>List of Courses</caption>
  <thead>
  <tr>
    <th scope="col">Course Name</th>
    <th scope="col">Course Fees</th>
    <th scope="col">Course Duration</th>
    <th scope="col">Operation</th>

  </tr>
  </thead>

  <tbody>
  {% for i in course1 %}
  <tr>
    <td>{{i.Course_Name}}</td>
    <td>{{i.Course_fee}}</td>
    <td>{{i.Course_duration}}</td>
    <td>
      <a class="btn btn-danger" href="{% url 'delete course' i.id %}">Delete</a>
      <a class="btn btn-secondary" href= "{% url 'update course' i.id %}">Update</a>
    </td>
  </tr>
  </tbody>
  {% endfor %}
</table>
{% endif %}
{% endblock %}
